@model List<ResultAboutDto>

@{
    ViewData["Title"] = "About";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>Hakkımızda Bilgi Listesi</h4>
                <p>Hakkımızda ilgili işlemlerinizi aşağıdaki tablo üzerinden gerçekleştirebilirsiniz.</p>
                <div class="bs-example" data-example-id="simple-table">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Açıklama</th>
                                <th>Adres</th>
                                <th>Email</th>
                                <th>Telefon</th>
                                <th>Sil / Güncelle</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Description</td>
                                    <td>@item.Address</td>
                                    <td>@item.Mail</td>
                                    <td>@item.Telefon</td>
                                    <td>
                                        <a class="btn btn-danger" asp-area="Admin" asp-controller="About" asp-action="DeleteAbout" asp-route-id="@item.AboutId">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </a>
                                        <a class="btn btn-info" asp-area="Admin" asp-controller="About" asp-action="UpdateAbout" asp-route-id="@item.AboutId">
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <a href="/admin/about/create" class="btn btn-primary">Yeni Hakkımızda Bilgisi Ekle</a>
                </div>
            </div>
        </div>
    </div>
</section>