@model ProductListWithCategoryViewModel

@{
    ViewData["Title"] = "ProductListWithCategory";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}
@{
    int count = 0;
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>Ürün Listesi</h4>
                <p>Ürünlere ilgili işlemlerinizi aşağıdaki tablo üzerinden gerçekleştirebilirsiniz.</p>
                <div class="bs-example" data-example-id="simple-table">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Ürün Adı</th>
                                <th>Ürün Fiyatı</th>
                                <th>Ürün Kategorisi</th>
                                <th>Ürün Görselleri</th>
                                <th>Sil / Güncelle / Açıklama ve Bilgi</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ProductsWithCategory)
                            {
                                count++;
                                <tr>
                                    <th scope="row">@count</th>
                                    <td>@item.ProductName</td>
                                    <td>@item.ProductPrice</td>
                                    <td>@item.Category.CategoryName</td>
                                    <td>
                                        <a class="btn btn-warning" asp-area="Admin" asp-controller="ProductImage" asp-action="UpdateProductImage" asp-route-id="@item.ProductID">
                                            <i class="fa fa-picture-o" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                    <td>
                                        <a class="btn btn-danger" asp-area="Admin" asp-controller="Product" asp-action="DeleteProduct" asp-route-id="@item.ProductID">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </a>
                                        <a class="btn btn-info" asp-area="Admin" asp-controller="Product" asp-action="UpdateProduct" asp-route-id="@item.ProductID">
                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                        </a>
                                        <a class="btn btn-warning" asp-area="Admin" asp-controller="ProductDetail" asp-action="UpdateProductDetail" asp-route-id="@item.ProductID">
                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <a href="/admin/product/create" class="btn btn-primary">Yeni Ürün Ekle</a>
                </div>
            </div>
        </div>
    </div>
</section>


